.container{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 1fr 2fr;
    gap: 8px;
    /*расположение элементов на строке*/
    justify-content: space-between;
    /*выравнивание элементов в ячейке по горизонтали*/
    justify-items: center;
    /*выравнивание элементов в ячейке по вертикали*/
    align-items: center;
}
.text{
    font-size: 3rem;
}
.text2{
    font-size: 2rem;
}
.image{
    width: 400px;
    height: 400px;
}